<header>
	<a href='#/tag/{{tag}}' class='back-button'>Back</a>

	<h2 class='title'>
		<a href='{{link}}' target='_blank'>{{title}}</a>

	</h2>
	<div class='subtitle'>
		<p>
			<a class='author' href='https://www.flickr.com/photos/{{author_id}}' target='_blank'>{{author_name}}</a>
		</p> 
		<p class='publish-date'>| Published: {{#momentFormat published 'Do MMM YYYY [at] HH:MM'}}{{/momentFormat}}</p>
	</div>
</header>

<section class='detail-body'>
	
		<figure>
			<img src='{{media.m}}' width='126px' />
		</figure>
		<div class='description'>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis urna tellus. Duis vel neque quis augue aliquam rhoncus. In vulputate sollicitudin convallis. Vestibulum ullamcorper, ex id commodo egestas, nibh ligula mattis erat, quis dignissim erat ante in velit.
			</p>
			<p> 
				Suspendisse aliquet malesuada massa, vel pharetra eros faucibus id. Praesent tristique elit vel nunc placerat, sed elementum lacus scelerisque. Praesent a purus ligula. Donec sagittis tempor leo, quis mollis risus fermentum id. Donec tincidunt sollicitudin felis ut efficitur. Sed vel felis interdum nibh bibendum bibendum. Duis a hendrerit massa. In ac urna congue, varius purus vel, euismod nisi.
			</p>

			<div class='tags'>
				Tags:
				{{#each tagList}}
					<a href='#/tag/{{this}}' class='tag'>{{this}}</a>
				{{/each}}
			</div>
		</div>
	
</section>