<figure>
	<a href='#/tag/{{tag}}/id/{{id}}'>
		<img src='{{media.m}}' width='126px' />
	</a>
</figure>

<section>
	<h3 class='title'>
		<a href='#/tag/{{tag}}/id/{{id}}'>{{title}}</a>
	</h3>
	<div class='meta'>
		<div class='author'>
			<a target='_blank' href='https://www.flickr.com/photos/{{author_id}}'>{{author_name}}</a>
		</div>
		<div class='publish-date'>Published: {{#momentFormat published 'Do MMM YYYY [at] HH:MM'}}{{/momentFormat}}</div>
		<div class='external-link'>
			<a target='_blank' href='{{link}}'>View on Flickr</a>
		</div>
	</div>
</section>

