// Color variables (appears count calculates by raw css)
@color0: #434d43; // Appears 4 times
@color1: #fdfdfd; // Appears 2 times
@color2: #333333; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width1: 100%; // Appears 3 times

// Height variables (appears count calculates by raw css)
@height0: 92px; // Appears 2 times

body {
	background-color: #DEE1DE;
}
#app {
	color:@color2;
	font-family:Helvetica, Verdana, sans-serif;
	margin: auto;
	max-width: 800px;
	width:@width1;
}
div.photo-detail {
	background-color: @color1;
	border: 1px solid @color0;
	padding: 12px;
	header {
		.back-button {
			float: right;
		}
		h2.title {
			display: inline-block;
			margin: 0;
			text-transform: capitalize;
			width:90%;
		}
		div.subtitle {
			margin: 12px 0 12px 0;
			p {
				display:inline-block;
				margin: 0 0 4px 0;
			}
		}
	}
	section.detail-body {
		padding-top: 12px;
		figure {
			display: block;
			float: left;
			margin: 0 12px 12px 0;
		}
		div.description {
			overflow: hidden;
			p {
				margin-top: 0;
			}
			div.tags {
				border-top: 1px solid @color0;
				padding-top: 12px;
				a.tag {
					margin-right: 12px;
				}
			}
		}
	}
}
ul.tag-list {
	background-color: @color1;
	border: 1px solid @color0;
	list-style-type: none;
	padding-left: 0;
	li {
		border-bottom: 1px solid @color0;
		height:@height0;
		overflow: hidden;
		figure {
			float: left;
			margin: 0;
			overflow: hidden;
			img {
				min-height: @height0;
			}
		}
		section {
			overflow: hidden;
			padding: 12px;
			h3.title {
				font-size: 20px;
				font-weight: normal;
				margin: 0;
				margin: 0 0 12px 0;
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
			div.meta {
				div {
					display: block;
					float:left;
					font-size: .9em;
					margin-right: 12px;
				}
				div.publish-date {
					display: none;
				}
				div.author {
					a {
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: @width1;
					}
				}
			}
		}
	}
}
.title {
	a {
		color:@color2;
		display: inline-block;
		overflow: hidden;
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: @width1;
		&:hover {
			text-decoration: underline;
		}
	}
}
@media (max-width: 800px) {

   	ul.tag-list li section div.meta div{
		margin-top: 6px;
	}

    ul.tag-list li section div.meta div.publish-date {
        display: none;
    }

    ul.tag-list li section h3.title{
    	margin: 0;
    }
}

@media (max-width: 370px) {
	ul.tag-list li section div.meta div.author{
		display: block;
		float: none;
	}

	ul.tag-list li section div.meta div.author a{
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
	
}